SESSION_SECRET='thisisasecretforsuperhi'
PUBLIC_STOREFRONT_API_TOKEN='youtokehere'
PUBLIC_STORE_DOMAIN='yourstore.myshopify.com'
SANITY_PROJECT_ID='yourprojectid'
SANITY_DATASET='production'
SANITY_TOKEN='yourtokenhere'